:root {
    --f600: #9798a1;
    --f400: #ededed;
    --bg-nav: #001400;
    --bg-page: #001400;
    --btn-still: var(--bg-nav);
    --btn-hover: rgba(0,0,0,.6)
}

hr {
    background-color: #bbb;
    border: 0 none;
    margin: 20px 0;
    height: 1px
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif
}

*,*::before,*::after {
    box-sizing: border-box
}

nav {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-nav);
    position: relative;
    overflow: hidden;
    background: linear-gradient(45deg, rgba(2,0,36,1) 20%, rgba(0,51,102,1) 65%, rgba(0,102,153,1) 100%);
}

nav h1 {
    position: absolute;
    color: var(--f400);
    left: 4%;
    top: 20px;
    font-size: 2ch;
    font-weight: 500
}

nav .version {
    position: absolute;
    left: 4%;
    top: 94%;
    color: var(--f400);
    letter-spacing: 2px;
    font-size: 16px;
    opacity: 70%;
    font-style: italic
}

nav .tagline {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    width: max-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    animation: tagline 2000ms
}

nav span {
    font-weight: 300;
    font-size: 65%
}

.tagline>h1,.tagline>h2 {
    color: #fff;
    font-size: 90px;
    font-weight: 500;
    position: unset;
    width: max-content;
    transition: all 0.9s ease
}

.tagline>h3 {
    color: #fc9;
    font-size: 50px;
    font-weight: 300;
    position: unset;
    width: max-content;
    transition: all 0.9s ease
}

.tagline>.tag__outline {
    font-size: 70px;
    color: #fff;
    -webkit-text-fill-color: rgba(255,255,255,0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff
}

@keyframes tagline {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.tagline::after {
    position: absolute;
    top: 0%;
    left: 0%;
    content: "";
    width: 200px;
    height: 2px;
    background: red;
    right: 80%;
    transform: scaleX(0);
    transform-origin: 0%;
    transition: transform 1000ms ease
}

.slide.tagline::after {
    transform: scaleX(1)
}

@media screen and (max-width: 700px) {
    .tagline>h1,.tagline>h2 {
        font-size:47px;
        margin: 0 5%
    }

    .tagline>h3 {
        font-size: 26px;
        margin: 0 5%
    }

    .tagline>.tag__outline {
        font-size: 30px
    }
}

.nav-ctn {
    z-index: 4;
    position: absolute;
    width: 80px;
    height: 100px;
    top: 10%;
    right: 2%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center
}

#nav-btn {
    z-index: 5;
    position: relative;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms
}

#nav-btn:hover {
    background: rgba(0,0,0,.582)
}

#nav-btn.active {
    background: rgba(0,0,0,.582)
}

#nav-btn::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 4px;
    background: cornsilk;
    transform: translateY(-10px);
    transition: 500ms;
    box-shadow: 0 10px 0 cornsilk
}

#nav-btn.active::before {
    box-shadow: 0 0 0 cornsilk;
    transform: translateY(0) rotate(45deg)
}

#nav-btn::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 4px;
    background: cornsilk;
    transform: translateY(10px);
    transition: 500ms
}

#nav-btn.active::after {
    box-shadow: 0 0 0 cornsilk;
    transform: translateY(0) rotate(-45deg)
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-page);
    transform: translateX(200%);
    transition: transform 1000ms ease;
    z-index: 2;
    overflow-x: hidden
}

.page.active {
    transform: translateX(0%)
}

.page .logo {
    position: absolute;
    color: var(--f400);
    left: 4%;
    top: 20px;
    font-size: 2ch;
    font-weight: 500
}

.page .nav {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translateY(-50%)
}

.page .nav .btn {
    padding: 0 10px;
    color: var(--f600);
    font-size: 6ch;
    transition: color 300ms ease;
    font-weight: 300
}

.page .nav .btn:hover {
    cursor: pointer;
    color: var(--f400)
}

.nav .btn.toggle {
    color: var(--f400);
    font-weight: 400
}

.page .container {
    color: #fff;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    max-height: 90vh;
    width: 55%;
    background: #000400;
    border: none;
    overflow-y: auto;
    padding: 20px 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 400px 4px rgba(0,0,0,.65)
}

.page .container {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll
}

.page .container::-webkit-scrollbar {
    display: none
}

.container .nav-det {
    font-weight: 400;
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 10px
}

.nav-det p {
    display: inline;
    color: var(--f600)
}

.span-hide {
    display: none
}

.about h2 {
    color: var(--f400);
    text-align: center;
    margin: 10px 0;
    letter-spacing: 2px;
    outline: var(--f600) 1px solid;
    padding: 10px 20px
}

.photo {
    margin: 20px 0 0
}

.nav-det p:hover {
    cursor: pointer;
    color: var(--f400)
}

.nav-det .not:hover {
    color: var(--f600);
    cursor: text
}

.container.show {
    display: flex;
    animation: fadeIn 800ms
}

.container.show .content {
    color: var(--f400);
    padding: 20px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    max-width: 800px;
    min-width: 300px
}

.content .utube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden
}

.content .utube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.content b {
    font-weight: 500
}

.content p a {
    color: #fc9;
    text-decoration: none
}

.content ul {
    padding: 0 25px;
    margin: 25px 0
}

.content .by3s img {
    width: 29%;
    margin: 1%
}

.content .by2s img {
    width: 46%;
    margin: 1%
}

.card {
    display: flex;
    padding: 110px 0 0;
    flex-direction: column;
    margin-bottom: 15px;
    min-width: 260px;
    width: 100%;
    overflow: hidden;
    transform: scale(1);
    transition: all 2s ease;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center
}

.card:hover {
    background-size: 110%;
    background-position: center;
    transform: scale(1.04);
    z-index: 300
}

@media screen and (max-width: 1400px) {
    .list .title {
        color:var(--f400);
        margin-bottom: 10px;
        text-align: start;
        font-size: large
    }
}

.card-content {
    padding: 20px;
    background: linear-gradient(hsl(0 0% 0% / 0),hsl(15 0% 0% / .5) 15%,hsl(0 0% 0% / 1));
    transform: translateY(65%);
    transition: transform 1000ms ease
}

.card-content .techonologies {
    display: flex;
    width: 100%;
    margin-top: 10px
}

.card-content h2 {
    letter-spacing: 2px;
    outline: none;
    padding: 0 0 0;
    margin-bottom: 10px;
    font-weight: 500
}

.card-content p {
    font-size: 16px
}

.card-content i {
    color: #fc9;
    font-size: 14px
}

.card:hover .card-content {
    transform: translateY(6%)
}

.button {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 20px;
    text-decoration: none;
    color: var(--f400);
    padding: 5px 20px;
    border-radius: 5px;
    transition: 500ms ease
}

.button.green {
    background-color: #030
}

.button.green:hover {
    background-color: #060
}

.button.red {
    background-color: #900
}

.button.red:hover {
    background-color: red
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.download {
    color: var(--f400);
    font-size: 18px;
    margin: 0 0 30px 0;
    width: 90%;
    text-align: right
}

.download a {
    color: #fc9;
    text-decoration: none
}
